{
	"name": "cheribsd-test",
	"target": "freebsd/arm64",
	"http": ":10000",
	"workdir": "./workdir",
	"syzkaller": "<PATH TO SYZKALLER GIT>",
	"sshkey": "<SSH PRIV>",
	"sandbox": "none",
	"procs": 1,
	"image": "<PATH TO IMAGE FILE ON ZFS>",
	"type": "bhyve",
	# More investigation needed
	"kernel_obj": "<KERNEL OBJECTS>",
	"vm": {
		"count": 1,
		"hostip": "169.254.0.1",
		"dataset": "<ZFS>",
		"uboot": "/usr/local64/share/u-boot/u-boot-bhyve-arm64/u-boot.bin",
		"tapdev": "tap0",
		"mem": "2g",
		"sshforward": false
	},
	"ignores": ["unknown sandbox type"]
}
